---
layout: default
title: Blog
permalink: /blog/
---
{% for post in site.posts %}
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h4>{{ post.title }}</h4>
                    {{ post.excerpt }}
                </div>
                <div class="card-action">
                    <a href="{{ post.url }}">Read More</a>
                </div>
            </div>
        </div>
{% endfor %}

<!-- Old Blog Thing
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

-->
