---
layout: default
---

<h3>Who We Are</h3>
<p>Welcome to the official Disabled Communities website. We are a group of communities dedicated to helping out people who are mentally disabled by providing support groups, teaming up with other people who have the same disability, and fighting for the rights of the oppressed, as well as promoting true happiness in life. The founder having problems with mental disabilities himself, Reasonably Selenium founded the DC in 2017 as an effort to combat discrimination and promote tolerance and respect for the disabled. With the unification of SFC-Aclevo, Deleno, Treehouse, and the TKPC; all of these communities work hard to build better relationships with each other with the support they need.</p>
<h3>Services</h3>
<p>Coming soon!</p>
