<footer class="page-footer purple">
  <div class="footer-copyright">
    <div class="container">© 2017 The Disabled Communities<a class="grey-text text-lighten-4 right" href="#!">More Links</a></div>
  </div>
</footer>
</body>
</html>
