<header class="site-header">

<div class="header">
      <nav class="purple">
        <div class="container">
          <div class="nav-wrapper">
            <a class="brand-logo" href="/">DC</a><a class="button-collapse" href="#" data-activates="mobile-menu"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" id="nav-mobile">
            {% for my_page in site.pages %}
                {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <h1>
                <li class="logo"><a id="logo-container" href="./">DC</a></li>
              </h1>
              <li><a href="./philosophies">Philosophies</a></li>
              <li><a href="./services">Services</a></li>
              <li><a href="./about">About</a></li>
              <li><a href="./blog">Blog</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large green tooltipped" data-position="top" data-delay="0" data-tooltip="Communities"><i class="material-icons">menu</i></a>
      <ul>
        <li><a class="btn-floating white" style="background-image: url('https://yt3.ggpht.com/-1-TnJvBRS4A/AAAAAAAAAAI/AAAAAAAAAAA/BnmjValJQwc/s900-c-k-no-mo-rj-c0xffffff/photo.jpg'); background-size: 35px 35px; background-repeat: no-repeat; background-position: center center;" href="https://aclevo.xyz"></a></li>
        <li><a class="btn-floating white" style="background-image: url('http://sagefun.com/images/favicon.ico'); background-repeat: no-repeat; background-position: center center;" href="https://sagefun.com"></a></li>
        <li><a class="btn-floating white" style="background-image: url('https://aclevo.xyz/storage/app/media/uploaded-files/TreeHouse%20Communities%20Alpha%203.png'); background-size: 35px 35px; background-repeat: no-repeat; background-position: center center;" href="https://aclevo.xyz/departments/treehouse"></a></li>
        <li><a class="btn-floating white" href="http://tkpc.wikia.com"><i class="black-text">T</i></a></li>
      </ul>
    </div>
</header>
